.cube-debug > * > *:nth-child(1) {
  background: rgba(255, 0, 0, 0.2);
}
.cube-debug > * > *:nth-child(2) {
  background: rgba(0, 0, 255, 0.2);
}
.cube-debug > * > *:nth-child(3) {
  background: rgba(255, 255, 0, 0.2);
}
.cube-debug > * > *:nth-child(4) {
  background: rgba(0, 128, 0, 0.2);
}
.cube-debug > * > *:nth-child(5) {
  background: rgba(128, 0, 128, 0.2);
}
.cube-debug > * > *:nth-child(6) {
  background: rgba(255, 165, 0, 0.2);
}
.cube-perspective {
  -webkit-perspective: 3000;
          perspective: 3000;
}
.cube-border > * {
  background: transparent !important;
  border: 1px solid;
}
.cube-borderless > * {
  border: none !important;
}
.cube-unselectable {
  pointer-events: none;
}
.cube.hover {
  -webkit-animation: hover 30s ease infinite;
          animation: hover 30s ease infinite;
}
@-webkit-keyframes hover {
  10% {
    -webkit-transform: rotate3d(0, 1, 1, 10deg);
            transform: rotate3d(0, 1, 1, 10deg);
  }
  20% {
    -webkit-transform: rotate3d(1, 0, 1, 208deg);
            transform: rotate3d(1, 0, 1, 208deg);
  }
  30% {
    -webkit-transform: rotate3d(1, 1, 0, 10deg);
            transform: rotate3d(1, 1, 0, 10deg);
  }
  40% {
    -webkit-transform: rotate3d(1, 0, 0, 50deg);
            transform: rotate3d(1, 0, 0, 50deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 1, 30deg);
            transform: rotate3d(0, 1, 1, 30deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 1, 1, 190deg);
            transform: rotate3d(0, 1, 1, 190deg);
  }
  70% {
    -webkit-transform: rotate3d(0, 1, 0, 70deg);
            transform: rotate3d(0, 1, 0, 70deg);
  }
  80% {
    -webkit-transform: rotate3d(1, 1, 0, 120deg);
            transform: rotate3d(1, 1, 0, 120deg);
  }
  90% {
    -webkit-transform: rotate3d(1, 1, 1, -20deg);
            transform: rotate3d(1, 1, 1, -20deg);
  }
}
@keyframes hover {
  10% {
    -webkit-transform: rotate3d(0, 1, 1, 10deg);
            transform: rotate3d(0, 1, 1, 10deg);
  }
  20% {
    -webkit-transform: rotate3d(1, 0, 1, 208deg);
            transform: rotate3d(1, 0, 1, 208deg);
  }
  30% {
    -webkit-transform: rotate3d(1, 1, 0, 10deg);
            transform: rotate3d(1, 1, 0, 10deg);
  }
  40% {
    -webkit-transform: rotate3d(1, 0, 0, 50deg);
            transform: rotate3d(1, 0, 0, 50deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 1, 30deg);
            transform: rotate3d(0, 1, 1, 30deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 1, 1, 190deg);
            transform: rotate3d(0, 1, 1, 190deg);
  }
  70% {
    -webkit-transform: rotate3d(0, 1, 0, 70deg);
            transform: rotate3d(0, 1, 0, 70deg);
  }
  80% {
    -webkit-transform: rotate3d(1, 1, 0, 120deg);
            transform: rotate3d(1, 1, 0, 120deg);
  }
  90% {
    -webkit-transform: rotate3d(1, 1, 1, -20deg);
            transform: rotate3d(1, 1, 1, -20deg);
  }
}
.cube-1 {
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(-30deg) rotateY(-60deg) rotateZ(-10deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(-30deg) rotateY(-60deg) rotateZ(-10deg);
  left: 20%;
  top: 2%;
}
.cube-1 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 120px;
  height: 120px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-1 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(60px);
          transform: rotateZ(0deg) translateZ(60px);
}
.cube-1 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(60px);
          transform: rotateX(90deg) translateZ(60px);
}
.cube-1 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(60px);
          transform: rotateX(-90deg) translateZ(60px);
}
.cube-1 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(60px);
          transform: rotateY(-90deg) translateZ(60px);
}
.cube-1 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(60px);
          transform: rotateY(90deg) translateZ(60px);
}
.cube-1 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(60px);
          transform: rotateY(180deg) translateZ(60px);
}
.cube-1 {
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(-30deg) rotateY(-60deg) rotateZ(-10deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(-30deg) rotateY(-60deg) rotateZ(-10deg);
  left: 20%;
  top: 2%;
}
.cube-1 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 120px;
  height: 120px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-1 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(60px);
          transform: rotateZ(0deg) translateZ(60px);
}
.cube-1 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(60px);
          transform: rotateX(90deg) translateZ(60px);
}
.cube-1 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(60px);
          transform: rotateX(-90deg) translateZ(60px);
}
.cube-1 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(60px);
          transform: rotateY(-90deg) translateZ(60px);
}
.cube-1 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(60px);
          transform: rotateY(90deg) translateZ(60px);
}
.cube-1 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(60px);
          transform: rotateY(180deg) translateZ(60px);
}
.cube-2 {
  position: absolute;
  width: 220px;
  height: 220px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(200px) rotateX(-50deg) rotateY(-60deg) rotateZ(20deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(200px) rotateX(-50deg) rotateY(-60deg) rotateZ(20deg);
  left: 15%;
  top: 8%;
}
.cube-2 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 220px;
  height: 220px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-2 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(110px);
          transform: rotateZ(0deg) translateZ(110px);
}
.cube-2 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(110px);
          transform: rotateX(90deg) translateZ(110px);
}
.cube-2 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(110px);
          transform: rotateX(-90deg) translateZ(110px);
}
.cube-2 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(110px);
          transform: rotateY(-90deg) translateZ(110px);
}
.cube-2 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(110px);
          transform: rotateY(90deg) translateZ(110px);
}
.cube-2 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(110px);
          transform: rotateY(180deg) translateZ(110px);
}
.cube-3 {
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(150px) rotateX(-65deg) rotateY(-30deg) rotateZ(-10deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(150px) rotateX(-65deg) rotateY(-30deg) rotateZ(-10deg);
  left: 10%;
  top: 14%;
}
.cube-3 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 120px;
  height: 120px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-3 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(60px);
          transform: rotateZ(0deg) translateZ(60px);
}
.cube-3 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(60px);
          transform: rotateX(90deg) translateZ(60px);
}
.cube-3 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(60px);
          transform: rotateX(-90deg) translateZ(60px);
}
.cube-3 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(60px);
          transform: rotateY(-90deg) translateZ(60px);
}
.cube-3 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(60px);
          transform: rotateY(90deg) translateZ(60px);
}
.cube-3 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(60px);
          transform: rotateY(180deg) translateZ(60px);
}
.cube-4 {
  position: absolute;
  width: 70px;
  height: 70px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(-90deg) rotateY(100deg) rotateZ(30deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(-90deg) rotateY(100deg) rotateZ(30deg);
  left: 62%;
  top: 12%;
}
.cube-4 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 70px;
  height: 70px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-4 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(35px);
          transform: rotateZ(0deg) translateZ(35px);
}
.cube-4 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(35px);
          transform: rotateX(90deg) translateZ(35px);
}
.cube-4 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(35px);
          transform: rotateX(-90deg) translateZ(35px);
}
.cube-4 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(35px);
          transform: rotateY(-90deg) translateZ(35px);
}
.cube-4 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(35px);
          transform: rotateY(90deg) translateZ(35px);
}
.cube-4 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(35px);
          transform: rotateY(180deg) translateZ(35px);
}
.cube-5 {
  position: absolute;
  width: 90px;
  height: 90px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(-95deg) rotateY(-20deg) rotateZ(-16deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(-95deg) rotateY(-20deg) rotateZ(-16deg);
  left: 31%;
  top: 16.5%;
}
.cube-5 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 90px;
  height: 90px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-5 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(45px);
          transform: rotateZ(0deg) translateZ(45px);
}
.cube-5 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(45px);
          transform: rotateX(90deg) translateZ(45px);
}
.cube-5 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(45px);
          transform: rotateX(-90deg) translateZ(45px);
}
.cube-5 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(45px);
          transform: rotateY(-90deg) translateZ(45px);
}
.cube-5 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(45px);
          transform: rotateY(90deg) translateZ(45px);
}
.cube-5 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(45px);
          transform: rotateY(180deg) translateZ(45px);
}
.cube-6 {
  position: absolute;
  width: 170px;
  height: 170px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(160px) rotateX(-25deg) rotateY(-37deg) rotateZ(-16deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(160px) rotateX(-25deg) rotateY(-37deg) rotateZ(-16deg);
  left: 39%;
  top: 20%;
}
.cube-6 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 170px;
  height: 170px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-6 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(85px);
          transform: rotateZ(0deg) translateZ(85px);
}
.cube-6 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(85px);
          transform: rotateX(90deg) translateZ(85px);
}
.cube-6 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(85px);
          transform: rotateX(-90deg) translateZ(85px);
}
.cube-6 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(85px);
          transform: rotateY(-90deg) translateZ(85px);
}
.cube-6 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(85px);
          transform: rotateY(90deg) translateZ(85px);
}
.cube-6 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(85px);
          transform: rotateY(180deg) translateZ(85px);
}
.cube-7 {
  position: absolute;
  width: 270px;
  height: 270px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(400px) rotateX(-95deg) rotateY(120deg) rotateZ(50deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(400px) rotateX(-95deg) rotateY(120deg) rotateZ(50deg);
  left: 56%;
  top: 26%;
}
.cube-7 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 270px;
  height: 270px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-7 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(135px);
          transform: rotateZ(0deg) translateZ(135px);
}
.cube-7 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(135px);
          transform: rotateX(90deg) translateZ(135px);
}
.cube-7 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(135px);
          transform: rotateX(-90deg) translateZ(135px);
}
.cube-7 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(135px);
          transform: rotateY(-90deg) translateZ(135px);
}
.cube-7 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(135px);
          transform: rotateY(90deg) translateZ(135px);
}
.cube-7 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(135px);
          transform: rotateY(180deg) translateZ(135px);
}
.cube-8 {
  position: absolute;
  width: 210px;
  height: 210px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(260px) rotateX(95deg) rotateY(-20deg) rotateZ(-16deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(260px) rotateX(95deg) rotateY(-20deg) rotateZ(-16deg);
  left: 22%;
  top: 33%;
}
.cube-8 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 210px;
  height: 210px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-8 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(105px);
          transform: rotateZ(0deg) translateZ(105px);
}
.cube-8 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(105px);
          transform: rotateX(90deg) translateZ(105px);
}
.cube-8 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(105px);
          transform: rotateX(-90deg) translateZ(105px);
}
.cube-8 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(105px);
          transform: rotateY(-90deg) translateZ(105px);
}
.cube-8 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(105px);
          transform: rotateY(90deg) translateZ(105px);
}
.cube-8 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(105px);
          transform: rotateY(180deg) translateZ(105px);
}
.cube-9 {
  position: absolute;
  width: 160px;
  height: 160px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(160px) rotateX(205deg) rotateY(100deg) rotateZ(-100deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(160px) rotateX(205deg) rotateY(100deg) rotateZ(-100deg);
  left: 12%;
  top: 39%;
}
.cube-9 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 160px;
  height: 160px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-9 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(80px);
          transform: rotateZ(0deg) translateZ(80px);
}
.cube-9 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(80px);
          transform: rotateX(90deg) translateZ(80px);
}
.cube-9 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(80px);
          transform: rotateX(-90deg) translateZ(80px);
}
.cube-9 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(80px);
          transform: rotateY(-90deg) translateZ(80px);
}
.cube-9 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(80px);
          transform: rotateY(90deg) translateZ(80px);
}
.cube-9 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(80px);
          transform: rotateY(180deg) translateZ(80px);
}
.cube-10 {
  position: absolute;
  width: 160px;
  height: 160px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(290px) rotateX(-67deg) rotateY(-30deg) rotateZ(-100deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(290px) rotateX(-67deg) rotateY(-30deg) rotateZ(-100deg);
  left: 33%;
  top: 45%;
}
.cube-10 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 160px;
  height: 160px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-10 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(80px);
          transform: rotateZ(0deg) translateZ(80px);
}
.cube-10 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(80px);
          transform: rotateX(90deg) translateZ(80px);
}
.cube-10 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(80px);
          transform: rotateX(-90deg) translateZ(80px);
}
.cube-10 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(80px);
          transform: rotateY(-90deg) translateZ(80px);
}
.cube-10 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(80px);
          transform: rotateY(90deg) translateZ(80px);
}
.cube-10 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(80px);
          transform: rotateY(180deg) translateZ(80px);
}
.cube-11 {
  position: absolute;
  width: 260px;
  height: 260px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(360px) rotateX(-100deg) rotateY(-70deg) rotateZ(-10deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(360px) rotateX(-100deg) rotateY(-70deg) rotateZ(-10deg);
  left: 60%;
  top: 47%;
}
.cube-11 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 260px;
  height: 260px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-11 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(130px);
          transform: rotateZ(0deg) translateZ(130px);
}
.cube-11 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(130px);
          transform: rotateX(90deg) translateZ(130px);
}
.cube-11 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(130px);
          transform: rotateX(-90deg) translateZ(130px);
}
.cube-11 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(130px);
          transform: rotateY(-90deg) translateZ(130px);
}
.cube-11 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(130px);
          transform: rotateY(90deg) translateZ(130px);
}
.cube-11 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(130px);
          transform: rotateY(180deg) translateZ(130px);
}
.cube-12 {
  position: absolute;
  width: 240px;
  height: 240px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(390px) rotateX(-310deg) rotateY(290deg) rotateZ(-10deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(390px) rotateX(-310deg) rotateY(290deg) rotateZ(-10deg);
  left: 45%;
  top: 54%;
}
.cube-12 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 240px;
  height: 240px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-12 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(120px);
          transform: rotateZ(0deg) translateZ(120px);
}
.cube-12 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(120px);
          transform: rotateX(90deg) translateZ(120px);
}
.cube-12 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(120px);
          transform: rotateX(-90deg) translateZ(120px);
}
.cube-12 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(120px);
          transform: rotateY(-90deg) translateZ(120px);
}
.cube-12 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(120px);
          transform: rotateY(90deg) translateZ(120px);
}
.cube-12 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(120px);
          transform: rotateY(180deg) translateZ(120px);
}
.cube-13 {
  position: absolute;
  width: 70px;
  height: 70px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(27deg) rotateY(-60deg) rotateZ(20deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(27deg) rotateY(-60deg) rotateZ(20deg);
  left: 30%;
  top: 53%;
}
.cube-13 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 70px;
  height: 70px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-13 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(35px);
          transform: rotateZ(0deg) translateZ(35px);
}
.cube-13 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(35px);
          transform: rotateX(90deg) translateZ(35px);
}
.cube-13 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(35px);
          transform: rotateX(-90deg) translateZ(35px);
}
.cube-13 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(35px);
          transform: rotateY(-90deg) translateZ(35px);
}
.cube-13 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(35px);
          transform: rotateY(90deg) translateZ(35px);
}
.cube-13 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(35px);
          transform: rotateY(180deg) translateZ(35px);
}
.cube-14 {
  position: absolute;
  width: 70px;
  height: 70px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(-230deg) rotateY(-90deg) rotateZ(-80deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(-230deg) rotateY(-90deg) rotateZ(-80deg);
  left: 90%;
  top: 50%;
}
.cube-14 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 70px;
  height: 70px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-14 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(35px);
          transform: rotateZ(0deg) translateZ(35px);
}
.cube-14 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(35px);
          transform: rotateX(90deg) translateZ(35px);
}
.cube-14 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(35px);
          transform: rotateX(-90deg) translateZ(35px);
}
.cube-14 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(35px);
          transform: rotateY(-90deg) translateZ(35px);
}
.cube-14 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(35px);
          transform: rotateY(90deg) translateZ(35px);
}
.cube-14 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(35px);
          transform: rotateY(180deg) translateZ(35px);
}
.cube-15 {
  position: absolute;
  width: 190px;
  height: 190px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(280px) rotateX(-30deg) rotateY(-60deg) rotateZ(-10deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(280px) rotateX(-30deg) rotateY(-60deg) rotateZ(-10deg);
  left: 25%;
  top: 65%;
}
.cube-15 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 190px;
  height: 190px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-15 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(95px);
          transform: rotateZ(0deg) translateZ(95px);
}
.cube-15 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(95px);
          transform: rotateX(90deg) translateZ(95px);
}
.cube-15 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(95px);
          transform: rotateX(-90deg) translateZ(95px);
}
.cube-15 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(95px);
          transform: rotateY(-90deg) translateZ(95px);
}
.cube-15 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(95px);
          transform: rotateY(90deg) translateZ(95px);
}
.cube-15 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(95px);
          transform: rotateY(180deg) translateZ(95px);
}
.cube-16 {
  position: absolute;
  width: 130px;
  height: 130px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(170px) rotateX(-25deg) rotateY(-37deg) rotateZ(-16deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(170px) rotateX(-25deg) rotateY(-37deg) rotateZ(-16deg);
  left: 38%;
  top: 70%;
}
.cube-16 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 130px;
  height: 130px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-16 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(65px);
          transform: rotateZ(0deg) translateZ(65px);
}
.cube-16 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(65px);
          transform: rotateX(90deg) translateZ(65px);
}
.cube-16 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(65px);
          transform: rotateX(-90deg) translateZ(65px);
}
.cube-16 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(65px);
          transform: rotateY(-90deg) translateZ(65px);
}
.cube-16 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(65px);
          transform: rotateY(90deg) translateZ(65px);
}
.cube-16 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(65px);
          transform: rotateY(180deg) translateZ(65px);
}
.cube-17 {
  position: absolute;
  width: 80px;
  height: 80px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(110px) rotateX(205deg) rotateY(100deg) rotateZ(-100deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(110px) rotateX(205deg) rotateY(100deg) rotateZ(-100deg);
  left: 39%;
  top: 77%;
}
.cube-17 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 80px;
  height: 80px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-17 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(40px);
          transform: rotateZ(0deg) translateZ(40px);
}
.cube-17 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(40px);
          transform: rotateX(90deg) translateZ(40px);
}
.cube-17 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(40px);
          transform: rotateX(-90deg) translateZ(40px);
}
.cube-17 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(40px);
          transform: rotateY(-90deg) translateZ(40px);
}
.cube-17 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(40px);
          transform: rotateY(90deg) translateZ(40px);
}
.cube-17 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(40px);
          transform: rotateY(180deg) translateZ(40px);
}
.cube-18 {
  position: absolute;
  width: 190px;
  height: 190px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(280px) rotateX(95deg) rotateY(-20deg) rotateZ(-16deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(280px) rotateX(95deg) rotateY(-20deg) rotateZ(-16deg);
  left: 50%;
  top: 75%;
}
.cube-18 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 190px;
  height: 190px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-18 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(95px);
          transform: rotateZ(0deg) translateZ(95px);
}
.cube-18 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(95px);
          transform: rotateX(90deg) translateZ(95px);
}
.cube-18 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(95px);
          transform: rotateX(-90deg) translateZ(95px);
}
.cube-18 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(95px);
          transform: rotateY(-90deg) translateZ(95px);
}
.cube-18 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(95px);
          transform: rotateY(90deg) translateZ(95px);
}
.cube-18 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(95px);
          transform: rotateY(180deg) translateZ(95px);
}
.cube-19 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(200px) rotateX(-95deg) rotateY(230deg) rotateZ(-10deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(200px) rotateX(-95deg) rotateY(230deg) rotateZ(-10deg);
  left: 48%;
  top: 84%;
}
.cube-19 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-19 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(50px);
          transform: rotateZ(0deg) translateZ(50px);
}
.cube-19 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(50px);
          transform: rotateX(90deg) translateZ(50px);
}
.cube-19 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(50px);
          transform: rotateX(-90deg) translateZ(50px);
}
.cube-19 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
          transform: rotateY(-90deg) translateZ(50px);
}
.cube-19 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(50px);
          transform: rotateY(90deg) translateZ(50px);
}
.cube-19 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(50px);
          transform: rotateY(180deg) translateZ(50px);
}
.cube-20 {
  position: absolute;
  width: 280px;
  height: 280px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(420px) rotateX(250deg) rotateY(290deg) rotateZ(-10deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(420px) rotateX(250deg) rotateY(290deg) rotateZ(-10deg);
  left: 24%;
  top: 82%;
}
.cube-20 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 280px;
  height: 280px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-20 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(140px);
          transform: rotateZ(0deg) translateZ(140px);
}
.cube-20 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(140px);
          transform: rotateX(90deg) translateZ(140px);
}
.cube-20 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(140px);
          transform: rotateX(-90deg) translateZ(140px);
}
.cube-20 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(140px);
          transform: rotateY(-90deg) translateZ(140px);
}
.cube-20 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(140px);
          transform: rotateY(90deg) translateZ(140px);
}
.cube-20 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(140px);
          transform: rotateY(180deg) translateZ(140px);
}
.cube-21 {
  position: absolute;
  width: 130px;
  height: 130px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(200px) rotateX(27deg) rotateY(-60deg) rotateZ(20deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(200px) rotateX(27deg) rotateY(-60deg) rotateZ(20deg);
  left: 52%;
  top: 93%;
}
.cube-21 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 130px;
  height: 130px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-21 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(65px);
          transform: rotateZ(0deg) translateZ(65px);
}
.cube-21 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(65px);
          transform: rotateX(90deg) translateZ(65px);
}
.cube-21 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(65px);
          transform: rotateX(-90deg) translateZ(65px);
}
.cube-21 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(65px);
          transform: rotateY(-90deg) translateZ(65px);
}
.cube-21 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(65px);
          transform: rotateY(90deg) translateZ(65px);
}
.cube-21 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(65px);
          transform: rotateY(180deg) translateZ(65px);
}
.cube-22 {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(-310deg) rotateY(290deg) rotateZ(-10deg);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(100px) rotateX(-310deg) rotateY(290deg) rotateZ(-10deg);
  left: 80%;
  top: 92%;
}
.cube-22 > * {
  display: block;
  position: absolute;
  content: " ";
  width: 60px;
  height: 60px;
  background: rgba(153, 235, 255, 0.1);
  border: 1px solid;
  z-index: 20;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
}
.cube-22 > *:nth-child(1) {
  -webkit-transform: rotateZ(0deg) translateZ(30px);
          transform: rotateZ(0deg) translateZ(30px);
}
.cube-22 > *:nth-child(2) {
  -webkit-transform: rotateX(90deg) translateZ(30px);
          transform: rotateX(90deg) translateZ(30px);
}
.cube-22 > *:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(30px);
          transform: rotateX(-90deg) translateZ(30px);
}
.cube-22 > *:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(30px);
          transform: rotateY(-90deg) translateZ(30px);
}
.cube-22 > *:nth-child(5) {
  -webkit-transform: rotateY(90deg) translateZ(30px);
          transform: rotateY(90deg) translateZ(30px);
}
.cube-22 > *:nth-child(6) {
  -webkit-transform: rotateY(180deg) translateZ(30px);
          transform: rotateY(180deg) translateZ(30px);
}
/*# sourceMappingURL=cube.css.map */